
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link">
            Fonterra Venus Dashboard
          </a>
        </li>
      </ul>
      <div class="copyright">
        <a href="https://www.kotadigivice.com/"> Powered by KOTA Digivice</a>
      </div>
    </div>
  </footer>
