

    <div class="sidebar">
      <div class="sidebar-wrapper">
        
        <div class="logo">
          <a href="https://kotadigivice.com" class="simple-text logo-normal">
            By KOTA Digivice
          </a>
        </div>

        {% if user.is_authenticated %}
        <ul class="nav">
          <li>
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard Contract</p>
            </a>
          </li>
          <li>
            <a href="/venus-dashboard">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard Venus</p>
            </a>
          </li>
          <li>
            <a href="/venus-table">
              <i class="tim-icons icon-bullet-list-67"></i>
              <p>Venus Table</p>
            </a>
          </li>
          <li>
            <a href="index-respond.html">
              <i class="tim-icons icon-email-85"></i>
              <p>Email Respond</p>
            </a>
          </li>
          <!-- <li>
            <a href="/ui-maps.html">
              <i class="tim-icons icon-pin"></i>
              <p>Maps</p>
            </a>
          </li> -->
          <li>
            <a href="/upload-file-page">
              <i class="tim-icons icon-cloud-upload-94"></i>
              <p>Upload file</p>
            </a>
          </li>
          <!-- <li>
            <a href="/ui-notifications.html">
              <i class="tim-icons icon-bell-55"></i>
              <p>Notifications</p>
            </a>
          </li>
          <li>
            <a href="/page-user.html">
              <i class="tim-icons icon-single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
          <li>
            <a href="/ui-tables.html">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Data Table</p>
            </a>
          </li> -->
          <!-- <li>
            <a href="/ui-typography.html">
              <i class="tim-icons icon-align-center"></i>
              <p>Typography</p>
            </a>
          </li> -->

          <!-- <li>
            <a href="/page-rtl-support.html">
              <i class="tim-icons icon-world"></i>
              <p>RTL Support</p>
            </a>
          </li> -->
          <li>
            <a href="{% url 'logout' %}" >
              <i class="tim-icons icon-user-run"></i>
              <p>Logout</p>
            </a>
          </li>

          <!-- <li class="active-pro">
            <a href="https://appseed.us/admin-dashboards/django-dashboard-black">
              <i class="tim-icons icon-spaceship"></i>
              <p>See product</p>
            </a>
          </li>
        </ul> -->
        {% endif %}
        
      </div>
    </div>
