{% extends "layouts/base.html" %}

{% block title %} Fonterra Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Filter</h5>
          </div>
          <div class="card-body">
            <div class="form-check-inline">
              <form id="filterForm">
                <h4>PO Type</h4>
                <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="po_type" value="OH" checked> OH
                <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="po_type" value="OY" checked> OY
                <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="po_type" value="OD" checked> OD
                <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="po_type" value="OM" checked> OM
                <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="po_type" value="OP" checked> OP
                <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="po_type" value="ON" checked> ON
                <!-- <input class="form-check-input m-2" type="checkbox" name="po_type" value= checked> 
                <input class="form-check-input m-2" type="checkbox" name="po_type" value= checked>  -->

                <h4>User</h4>
                <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="user" value="Marketing" checked> Marketing
                <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="user" value="Sales" checked> Sales
                <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="user" value="Manufacturing" checked> Manufacturing<br>
                <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="user" value="Others" checked> Others
                <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="user" value="Foodservices" checked> Foodservices
                <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="user" value="HR" checked> HR<br>
                <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="user" value="SRA" checked> SRA
                <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="user" value="SC" checked> SC
                <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="user" value="Finance" checked> Finance<br>
                <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="user" value="None" checked> None
                <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="user" value="Supply Chain" checked> Supply Chain

                <h4>Business Unit</h4>
                <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="commodity" value="FBI" checked> FBI
                <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="commodity" value="FBMI" checked> FBMI
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Contracts</h5>
            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>Open PO</h3>
          </div>
          <div class="card-body flex-fill">
            <table class="table" style="font-size: 1.1rem !important;">
              <tbody id="SummaryTopOpenPO">

              </tbody>
            </table>
            <!-- <br>
            <table class="table" style="font-size: 1.1rem !important;">
              <tbody id="SummaryBottomOpenPO">

              </tbody>
            </table> -->
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Contracts</h5>
            <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>Monthly Open PO Figures</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="monthlyOpenPO"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Data Table</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Dept
                    </th>
                    <th>
                      # PO
                    </th>
                    <th class="text-right">
                      PO Age
                    </th>
                    <th>
                      Amount in IDR
                    </th>
                    <th>
                      PIC
                    </th>
                    <th>
                      Remarks
                    </th>
                  </tr>
                </thead>
                <tbody id="TopOpenPO">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Contracts</h5>
            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>Monthly GRNI</h3>
          </div>
          <div class="card-body">
            <table class="table" style="font-size: 1.1rem !important;">
              <tbody id="SummaryTopGRNI">

              </tbody>
            </table>
            <!-- <br>
            <table class="table" style="font-size: 1.1rem !important;">
              <tbody id="SummaryBottomGRNI">

              </tbody>
            </table> -->
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Contracts</h5>
            <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>Monthly GRNI Figures</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="monthlyGRNI"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Data Table</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Dept
                    </th>
                    <th>
                      # PO
                    </th>
                    <th class="text-right">
                      PO Age
                    </th>
                    <th>
                      Amount in IDR
                    </th>
                    <th>
                      PIC
                    </th>
                    <th>
                      Remarks
                    </th>
                  </tr>
                </thead>
                <tbody id="TopGRNI">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Contracts</h5>
            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>Monthly PO after invoices</h3>
          </div>
          <div class="card-body">
            <table class="table" style="font-size: 1.1rem !important;">
              <tbody id="SummaryTopPOAfter">

              </tbody>
            </table>
            <!-- <br>
            <table class="table" style="font-size: 1.1rem !important;">
              <tbody id="SummaryBottomPOAfter">

              </tbody>
            </table> -->
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Contracts</h5>
            <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>Monthly PO after invoices figures</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="monthlyPOAfter"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Data Table</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Dept
                    </th>
                    <th>
                      # PO
                    </th>
                    <th class="text-right">
                      PO Age
                    </th>
                    <th>
                      Amount in IDR
                    </th>
                    <th>
                      PIC
                    </th>
                    <th>
                      Remarks
                    </th>
                  </tr>
                </thead>
                <tbody id="TopPOAfter">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      demovenus.initDashboardPageCharts();
    });
  </script>


{% endblock javascripts %}
