{% extends "layouts/base.html" %}

{% block title %} Fonterra Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Data Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Dept
                </th>
                <th>
                  # PO
                </th>
                <th class="text-right">
                  PO Age
                </th>
                <th>
                  Amount in IDR
                </th>
                <th>
                  PIC
                </th>
                <th>
                  Remarks
                </th>
                <th>
                  Response
                </th>
              </tr>
            </thead>
            <tbody id="EmailRespond">
              <td>
                Marketing
              </td>
              <td>
                12361248
              </td>
              <td>
                45
              </td>
              <td>
                12,142,000,200
              </td>
              <td>
                Dewi Kurniasih
              </td>
              <td>
                Lorem Ipsum dolor si amet
              </td>
              <td>
                <!-- <input type="text" list="cars" />
                <datalist id="cars">
                  <option>Supplier troubled</option>
                  <option>Document Missing</option>
                  <option>Document Pending</option>
                  <option>Waiting Approval</option>
                </datalist> -->
                <select id="cars">
                  <option>Supplier troubled</option>
                  <option>Document Missing</option>
                  <option>Document Pending</option>
                  <option>Waiting Approval</option>
                </select>
              </td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      demovenus.initDashboardPageCharts();
    });
  </script>


{% endblock javascripts %}