{% extends 'layouts/base.html' %}

{% block title %} Upload File {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Upload File Contract</h4>
      </div>
      <div class="card-body">
        <form action="/read-file" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file"
                 title="Upload excel file"
                 name="excel_file"
                 style="border: 1px solid black; padding: 5px;"
                 required="required">
          <p>
          <input type="submit"
                 value="Upload"
                 style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Upload File Venus</h4>
      </div>
      <div class="card-body">
        <form action="/read-file-venus" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file"
                 title="Upload excel file"
                 name="excel_file"
                 style="border: 1px solid black; padding: 5px;"
                 required="required">
          <p>
          <input type="submit"
                 value="Upload"
                 style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Upload File Venus OPO</h4>
      </div>
      <div class="card-body">
        <form action="/read-file-opo" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file"
                 title="Upload csv file"
                 name="csv_file"
                 style="border: 1px solid black; padding: 5px;"
                 required="required">
          <p>
          <input type="submit"
                 value="Upload"
                 style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Upload File Venus GRNI</h4>
      </div>
      <div class="card-body">
        <form action="/read-file-grni" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file"
                 title="Upload csv file"
                 name="csv_file"
                 style="border: 1px solid black; padding: 5px;"
                 required="required">
          <p>
          <input type="submit"
                 value="Upload"
                 style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Upload File Venus POA</h4>
      </div>
      <div class="card-body">
        <form action="/read-file-poa" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file"
                 title="Upload csv file"
                 name="csv_file"
                 style="border: 1px solid black; padding: 5px;"
                 required="required">
          <p>
          <input type="submit"
                 value="Upload"
                 style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Data</h4>
      </div>
      <div class="card-body">
        {% for row in excel_data %}
            {% for cell in row %}
                {{ cell }}&nbsp;&nbsp;
            {% endfor %}
            <br>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
