{% extends "layouts/base.html" %}

{% block title %} Fonterra Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Filter</h5>
      </div>
      <div class="card-body">
        <div class="form-check-inline">
          <form id="filterForm">
            <h4>PO Type</h4>
            <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="po_type" value="OH" checked> OH
            <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="po_type" value="OY" checked> OY
            <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="po_type" value="OD" checked> OD
            <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="po_type" value="OM" checked> OM
            <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="po_type" value="OP" checked> OP
            <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="po_type" value="ON" checked> ON
            <br>
            <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="status" value="false" checked> Active
            <input class="form-check-input m-2 radiobtnfilter2" type="checkbox" name="status" value="true" checked> Archived
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Open PO Table</h5>
      </div>
      <div class="card-body" style="overflow-x:auto;">
        <a class="btn btn-primary m-2" href="create-opo"><i class="far fa-plus-square "></i></i> Create</a>
        <table id="opoTable">
          <thead>
            <tr>
              <th>
                System ID
              </th>
              <th>
                Order Number
              </th>
              <th>
                Or Ty
              </th>
              <th>
                Amount To Receive
              </th>
              <th>
                Ordered Amount
              </th>
              <th>
                Order Co
              </th>
              <th>
                Supplier Number
              </th>
              <th>
                Supplier Name
              </th>
              <th>
                Line Description
              </th>
              <th>
                Last Status
              </th>
              <th>
                Next Status
              </th>
              <th>
                Gl Date
              </th>
              <th>
                Order Date
              </th>
              <th>
                Quantity To Receive
              </th>
              <th>
                Unit Cost
              </th>
              <th>
                Original Order No
              </th>
              <th>
                Orig Ord Type
              </th>
              <th>
                Account Number
              </th>
              <th>
                Cost Center
              </th>
              <th>
                Obj Acct
              </th>
              <th>
                Line Number
              </th>
              <th>
                Managrl Code 1
              </th>
              <th>
                Managrl Code 2
              </th>
              <th>
                Managrl Code 3
              </th>
              <th>
                Managrl Code 4
              </th>
              <th>
                Second Item Number
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
        <a class="btn btn-primary m-2" href="#"><i class="fa fa-download " aria-hidden="true"></i> Export as csv</a>
        <a class="btn btn-primary m-2" href="#"><i class="fa fa-download " aria-hidden="true"></i> Export as xlsx</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">GRNI Table</h5>
      </div>
      <div class="card-body" style="overflow-x:auto;">
        <a class="btn btn-primary m-2" href="create-opo"><i class="far fa-plus-square "></i></i> Create</a>
        <table id="grniTable">
          <thead>
            <tr>
              <th>
                System ID
              </th>
              <th>
                PO Type
              </th>
              <th>
                PO Number
              </th>
              <th>
                Doc Type
              </th>
              <th>
                DOC Number
              </th>
              <th>
                Doc Date
              </th>
              <th>
                Supplier Code
              </th>
              <th>
                Supplier Name
              </th>
              <th>
                Remark
              </th>
              <th>
                PO Currency
              </th>
              <th>
                Amount
              </th>
              <th>
                Unit
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
        <a class="btn btn-primary m-2" href="api/venus_grni_export_csv"><i class="fa fa-download " aria-hidden="true"></i> Export as csv</a>
        <a class="btn btn-primary m-2" href="api/venus_grni_export_xlsx"><i class="fa fa-download " aria-hidden="true"></i> Export as xlsx</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">PO After Invoice Table</h5>
      </div>
      <div class="card-body" style="overflow-x:auto;">
        <a class="btn btn-primary m-2" href="create-opo"><i class="far fa-plus-square "></i></i> Create</a>
        <table id=poaTable>
          <thead>
            <tr>
              <th>
                System ID
              </th>
              <th>
                Company
              </th>
              <th>
                Payment Ref
              </th>
              <th>
                Voucher Gl Date
              </th>
              <th>
                Supplier Invoice Number
              </th>
              <th>
                Invoice Date
              </th>
              <th>
                Payment Gl Date
              </th>
              <th>
                Voucher Doc Type
              </th>
              <th>
                Voucher Number
              </th>
              <th>
                Po Number
              </th>
              <th>
                Po Type
              </th>
              <th>
                Po Date
              </th>
              <th>
                Po Description Line 1
              </th>
              <th>
                Po Description Line 2
              </th>
              <th>
                Vendor Code
              </th>
              <th>
                Vendor Name
              </th>
              <th>
                Item Code
              </th>
              <th>
                Item Description
              </th>
              <th>
                Stocking Type
              </th>
              <th>
                Stocking Type Description
              </th>
              <th>
                Account Code
              </th>
              <th>
                Account Description
              </th>
              <th>
                Business Unit
              </th>
              <th>
                Amount
              </th>
              <th>
                Domestic Currency Code
              </th>
              <th>
                Currency Code
              </th>
              <th>
                Search Type
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
        <a class="btn btn-primary m-2" href="#"><i class="fa fa-download " aria-hidden="true"></i> Export as csv</a>
        <a class="btn btn-primary m-2" href="#"><i class="fa fa-download " aria-hidden="true"></i> Export as xlsx</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="/static/assets/demo/utils.js"></script>
<script src="/static/assets/demo/tableviewscripts.js"></script>

<script>
  $(document).ready(function () {
    tableviewscripts.initVenusTableScript();
  });
</script>


{% endblock javascripts %}